.main {
  display: flex;
  flex-direction: column;
  padding: 3.5rem;
  /* max-height: 100vh; */
}

.accordionChakra {
  width: 100%;
  max-width: 400px;
}

.accordionPanelInfoChakra {
  display: flex;
  flex-direction: row-reverse;
}

.dataClientes {
  display: flex;
  gap: 1rem;
  border-bottom: solid 1px #ccc;
  padding: .4rem;
  margin-bottom: 1rem;
  justify-content: space-between;
}

.dataClientesInfo {
  display: flex;
}

.dataclienteP {
  margin-right: .5rem;
}

.dataClientesActions {
  margin-right: .7rem;
}

.dataClienteButton {
  background-color: #eeeded;
  border-radius: .2rem;
  padding: .5rem;

}